@charset "UTF-8";

body {
  font-family: "Lato";
}

.is-raleway {
  font-size: 24px;
  font-family: "Raleway";
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.inner {
  margin: 0 auto;
  text-align: center;
  width: 1100px;
}

li {
  display: inline-block;
}

.header {
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 15px 0;
}

.main {
  padding-top: 70px;
}

.bolt-icon {
  float: left;
  font-size: 2em;
}

.burger-icon {
  display: none;
}

.contact {
  background-color: #74cfae;
  color: white;
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  transition: 0.3s;
}

.contact:hover {
  color: #333;
}

.theme {
  background-color: #f2f2f2;
  padding: 250px 0;
  font-family: "Raleway";
}

.theme-inner h1 {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.theme-inner p {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.intro {
  background-color: #74cfae;
  padding-top: 50px;
  color: white;
}

.intro p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 35px;
}

.work {
  padding: 60px 0 70px 0;
  background-color: #f2f2f2;
  color: #333;
}

.work-images {
  margin-top: 40px;
}

.work-link {
  display: inline-block;
  opacity: 0.7;
  transition: 0.3s;
}

.work-link:hover {
  opacity: 1;
}

.email {
  display: inline-block;
  background-color: #74cfae;
  color: white;
  font-size: 12px;
  padding: 14px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.email:hover {
  color: #333;
}

.skills {
  background-color: #4e4e4e;
  color: white;
  padding: 70px 0 100px 0;
}

.skill {
  margin-top: 70px;
}

.skill-item p {
  font-size: 16px;
  margin-top: 20px;
}

.sns {
  background-color: #f2f2f2;
  color: #74cfae;
  font-size: 2em;
  padding: 200px 0;
}

.sns-link {
  color: #74cfae;
  width: 185px;
  padding: 50px 0;
  text-decoration: none;
  transition: 0.3s;
}

.sns-link:hover {
  background-color: white;
}

.footer {
  background-color: #74cfae;
  color: white;
  padding: 20px 0 25px 0;
}

.footer-text {
  text-align: right;
}

@media screen and (min-width: 1200px) {

  .intro-contents {
    float: right;
    width: 700px;
  }

  .phone-img {
    float: left;
    padding-left: 50px;
  }

  .work-list {
    margin: 80px 0 0 100px;
    transition: 0.3s;
  }

  .work-list:nth-child(-n+3) {
    margin-top: 0;
  }

  .work-list:nth-child(3n+1) {
    margin-left: 0;
  }

  .work p {
    display: inline-block;
    line-height: 20px;
    width: 500px;
  }

  .email {
    margin-left: 90px;
    vertical-align: top;
  }

  .work-contents {
    margin-top: 90px;
  }

  .skill {
    display: flex;
  }

  .skill-item {
    margin-left: 180px;
  }

  .skill-item:first-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 1199px) {

  .inner {
    width: 97%;
  }

  .intro {
    padding: 50px 0 25px 0;
  }

  .intro-contents {
    margin-top: 20px;
  }

  .work-images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work-images img {
    vertical-align: bottom;
  }

  .work-list:nth-child(3n+1) {
    margin-top: 80px;
  }

  .work-list:first-child {
    margin-top: 0;
  }

  .work-contents {
    margin-top: 80px;
  }

  .email {
    margin-top: 40px;
  }

  .skill-item {
    margin-top: 88px;
    display: block;
  }

  .skill-item:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {

  .theme {
    padding: 160px 0 130px 0;
  }

  .bolt-icon {
    font-size: 3em;
  }

  .burger-icon {
    color: #ddd;
    display: block;
    float: right;
    font-size: 2em;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .contact {
    display: none;
  }

  .theme-inner h1 {
    font-size: 80px;
  }

  .sns {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sns-list,.sns-link {
    width: 100%;
  }
}


